{
    "extends": "eslint-config-mosaic",
    "env": {
        "browser": true,
        "es6": true,
        "jest": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module"
    },
    "plugins": [
        "html"
    ],
    "rules": {
        "no-floating-decimal": 1
    }
}